header {
  height: 50px;
  background-color: blue;
}
h1 {
  padding-left: 10px;
  color: white;
  line-height: 50px;
  display: inline;
}
.italic {
  font-style: italic;
}
.rightDiv {
  padding-right: 10px;
  line-height: 50px;
  float: right;
}
